@font-face {
    font-family: 'ogg';
    src: url('./fonts/Ogg-Roman.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu';
    src: url('./fonts/Apercu_Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'apercu mono';
    src: url('./fonts/apercu-mono.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: 'ogg'
}
main .text__box {
    font-family: 'apercu mono';
}